<div class="row">
  <div class="col m1">

  </div>
  <div class="col m10">
    <div class="card">
      <div class="card-image">
        <%= image_tag @vendor.image %>
        <span class="card-title black"><%= @vendor.name.titleize %></span>
      </div>
      <div class="card-content">
        <p><%= @vendor.description %></p><br>
        </div>
      </div>
    </div>
  </div>
</div>
